<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DisableRenameFixup>false</DisableRenameFixup>
  <EditOnDoubleClick>true</EditOnDoubleClick>
  <FederationConfiguration>
    <About>About FlexWiki.</About>
    <AuthorizationRules>
      <Rule Type="Allow" Action="ManageNamespace" Principal="all" />
    </AuthorizationRules>
    <BlacklistedExternalLinks>
      <Link>http://foobar</Link>
      <Link>http://blahblah</Link>
    </BlacklistedExternalLinks>
    <DefaultNamespace>SampleNamespaceOne</DefaultNamespace>
    <Namespaces />
    <EnablePerformanceCounters>false</EnablePerformanceCounters>
    <DisplaySpacesInWikiLinks>false</DisplaySpacesInWikiLinks>
    <NamespaceProviders>
      <Provider Id="5a2caaff-c139-40ad-85df-cdf136c95458" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=1.8.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceOne" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceOne" />
        </Parameters>
      </Provider>
      <Provider Id="efa37414-d13e-487a-bf13-ab506f05bd08" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=1.8.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceTwo" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceTwo" />
        </Parameters>
      </Provider>
      <Provider Id="10f3fac7-b42b-4ee1-9f87-102f95cc6dd0" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceThree" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceThree" />
        </Parameters>
      </Provider>
      <Provider Id="0689fac2-8091-4d5a-8eb4-1d68ae4af6b2" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceFour" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceFour" />
        </Parameters>
      </Provider>
      <Provider Id="45e75357-7bc4-4c76-a93f-9116526274d9" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceSeven" />
          <Parameter Name="Root" Value=".\SampleNamespaceSeven" />
        </Parameters>
      </Provider>
      <Provider Id="fb9d0de7-f68d-4ade-91e2-5d684d7dceb7" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceSix" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceSix" />
        </Parameters>
      </Provider>
      <Provider Id="a203b20c-28e0-4a6d-9ea4-ec979d685642" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceEight" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceEight" />
        </Parameters>
      </Provider>
      <Provider Id="3aecf305-410c-47e8-80ed-f806bf667ef9" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceNine" />
          <Parameter Name="Root" Value=".\SampleNamespaceNine" />
        </Parameters>
      </Provider>
      <Provider Id="7513492b-b72c-41a7-a327-cb5481f48284" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceTen" />
          <Parameter Name="Root" Value=".\SampleNamespaceTen" />
        </Parameters>
      </Provider>
      <Provider Id="fb89d7b4-c3d2-4fb6-9139-11a013e85b72" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceEleven" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceEleven" />
        </Parameters>
      </Provider>
      <Provider Id="a4d896a3-312b-4939-9fb1-a601875b37b9" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceTwelve" />
          <Parameter Name="Root" Value=".\SampleNamespaceTwelve" />
        </Parameters>
      </Provider>
      <Provider Id="9f76ac1f-6e1d-4f5c-8b32-f0b6e4a5ae64" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceThirteen" />
          <Parameter Name="Root" Value=".\SampleNamespaceThirteen" />
        </Parameters>
      </Provider>
      <Provider Id="8dc13df5-8955-4c46-bff9-f7bbb566ffa6" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceFourteen" />
          <Parameter Name="Root" Value=".\SampleNamespaceFourteen" />
        </Parameters>
      </Provider>
    </NamespaceProviders>
    <NoFollowExternalHyperlinks>false</NoFollowExternalHyperlinks>
    <Plugins />
    <WikiTalkVersion>0</WikiTalkVersion>
  </FederationConfiguration>
  <MakeAbsoluteUrls>false</MakeAbsoluteUrls>
  <NewsletterConfiguration>
    <AuthenticateAs>anonymous</AuthenticateAs>
    <Enabled>true</Enabled>
    <NewslettersFrom>newsletters@wangdera.com</NewslettersFrom>
    <RootUrl>http://localhost/flexwiki</RootUrl>
    <SendAsAttachments>false</SendAsAttachments>
  </NewsletterConfiguration>
  <SignNamespaceCreationMail>false</SignNamespaceCreationMail>
</configuration>