<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- PUT THE FULL PATH TO THE NAMESPACE MAP FILE HERE -->
		<add key="FederationNamespaceMapFile" value="/FlexWiki.Web/WikiBases/NamespaceMap.xml" />
		<add key="SMTPServer" value="Xmail.flexwiki.com" />
		<add key="NewslettersFrom" value="wikinewsletters@flexwiki.com" />
		
		<add key="DisableNewsletters" value="true" />

		<!-- Security - Used for Forms and Namespace Security
			Specify the type of security to use.  Currently the only option is webconfig which indicates to
			FlexWiki that the user crudentials are kept in the webconfig.
		-->
		<add key="Security" value="webconfig" />
		<!-- DataProviders for the Security -->
		<!-- User DataProvider -->
		<add key="UserDataProvider" value="FlexWikiSecurity" />
		<add key="UserDataProviderClass" value="FlexWikiSecurity.SimpleUserDataProvider" />
		<add key="UserDataProviderConnection" value="UserData.config" />
		<!-- Permissions DataProvider -->
		<add key="PermissionsDataProvider" value="FlexWikiSecurity" />
		<add key="PermissionsDataProviderClass" value="FlexWikiSecurity.SimplePermissionsDataProvider" />
		<add key="PermissionsDataProviderConnection" value="PermissionsData.config" />
		<!-- Role DataProvider -->
		<add key="RoleDataProvider" value="FlexWikiSecurity" />
		<add key="RoleDataProviderClass" value="FlexWikiSecurity.SimpleRoleDataProvider" />
		<add key="RoleDataProviderConnection" value="RoleData.config" />
		
		<!-- Setting this to true will cause the newsletters to be sent as HTML attachments, 
		     rather than as HTML email. -->
		<add key="SendNewslettersAsAttachments" value="false" />
		
		<!-- The next two keys are needed for wiki newsletters if your SMTP server requires authentication 
		      If your SMTP server does not require authentication, comment them out. -->
		<add key="SMTPUser" value="davidorn@flexwiki.com" />
		<add key="SMTPPassword" value="password" />
		<!-- To Override the style sheet uncomment this line
		<add key="OverrideStylesheet" value="/override.css" />
		-->
		<!-- To show spaces in wiki links by default change this value to "True" -->
		<add key="DisplaySpacesInWikiLinks" value="False" />
		
		<!-- Include the LogPath key to identify a file to record log entries -->
		<add key="LogPath" value="c:\flex.csv" />
		
	</appSettings>
	<system.web>
	<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files. -->
		<compilation defaultLanguage="c#" debug="true" />
		
	<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites. -->
		<authentication mode="Windows" />
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users. -->
		<authorization>
			<allow users="*" /> <!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		
		<!-- 
			If you are running .NET framework 1.1 or above, you must uncomment
			the line below.  validateRequest must be false for 1.1, but 1.0 will 
			choke on this, so it can't always be present
		-->
		<pages validateRequest="false" />
		
		<!--  CUSTOM ERROR MESSAGES
			Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
			Add <error> tags for each of the errors you want to handle.

			"On" Always display custom (friendly) messages.
			"Off" Always display detailed ASP.NET error information.
			"RemoteOnly" Display custom (friendly) messages only to users not running 
			on the local Web server. This setting is recommended for security purposes, so 
			that you do not display application detail information to remote clients.-->
		<customErrors mode="RemoteOnly" />
	</system.web>
</configuration>
