<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="LocalSqlServer"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="flexwiki@wangdera.com">
        <network
          host="valhalla"
          port="25"
          defaultCredentials="false"
        />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>

    <!-- We need this section in order to ensure that the ASP.NET roles provider
          doesn't share the user database across other applications when using 
          Forms authentication. You may need to change this section if you're 
          customizing the way Forms authentication works. 
          
          See http://weblogs.asp.net/scottgu/archive/2006/04/22/Always-set-the-_2200_applicationName_2200_-property-when-configuring-ASP.NET-2.0-Membership-and-other-Providers.aspx
          for more details. 
    -->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            connectionStringName="LocalSqlServer"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="true"
            requiresUniqueEmail="false"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="7"
            minRequiredNonalphanumericCharacters="1"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression=""
            applicationName="/flexwiki" />
      </providers>
    </membership>

    <!--  DYNAMIC DEBUG COMPILATION
   Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
   false will improve runtime performance of this application. 
   Set compilation debug="true" to insert debugging symbols (.pdb information)
   into the compiled page. Because this creates a larger file that executes
   more slowly, you should set this value to true only when debugging and to
   false at all other times. For more information, refer to the documentation about
   debugging ASP.NET files. -->
    <compilation defaultLanguage="c#" debug="true" />

    <!-- SECURITY SETTINGS
  
    Some sample authentication setups are included below. Copy the XML that applies 
    to your situation, and paste it in below. Custom setups are also possible. 
    
    ===============
    
    ALLOW EVERYONE : This setup makes the wiki available to everyone without making
      anyone authenticate.
    
    <authentication mode="None" />
    <authorization>
      <allow users="*" /> 
    </authorization>
    
    ===============
    
    ALLOW AUTHENTICATED USERS ONLY : This setup makes the wiki only available to 
      people who have a valid NT login. 
    
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    
    ===============
    
    ALLOW ACCESS TO CERTAIN PAGES : This setup depends on the file permissions for
      the individual .wiki files and directories - if the access is allowed for 
      the NETWORK SERVICE user (IUSR_machinename under Windows XP/2000), then the 
      user will be allowed to access the page. Otherwise, only users with permission
      to access the .wiki file/directory will be allowed to access that topic. 
    
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
    
    ===============
  
  -->


    <!-- Paste security-related XML here. We default to allowing everyone in. 
      See comments above. -->

    <authentication mode="Windows" />
    <identity impersonate="true"/>
    <authorization>
      <allow users="*" />
    </authorization>

    <!-- End security-related XML. -->



    <!-- We rely on session state, so we need to make sure it's turned on -->
    <sessionState mode="InProc" />
    <pages buffer="true" enableSessionState="true"
        validateRequest="false" />

    <!--  CUSTOM ERROR MESSAGES
      Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
      Add <error> tags for each of the errors you want to handle.

      "On" Always display custom (friendly) messages.
      "Off" Always display detailed ASP.NET error information.
      "RemoteOnly" Display custom (friendly) messages only to users not running 
      on the local Web server. This setting is recommended for security purposes, so 
      that you do not display application detail information to remote clients.-->
    <customErrors mode="RemoteOnly" />
  </system.web>
</configuration>
