<configuration>
  <appSettings>
    <!-- If you want to run the build verification tests, be sure to set 
          these two appropriately. Don't forget the trailing / on the 
          InstallationUri. -->
    <add key="InstallationUri" value="http://localhost/" />
    <add key="InstallationPath" value="..\..\..\FlexWiki.Web" />
  </appSettings>
</configuration>