<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CaptchaKey>0123456789ABCDEF</CaptchaKey>
  <CaptchaLinkThreshold>5</CaptchaLinkThreshold>
  <DisableRenameFixup>false</DisableRenameFixup>
  <EditOnDoubleClick>true</EditOnDoubleClick>
  <FederationConfiguration>
    <About>About FlexWiki.</About>
    <AuthorizationRules>
      <Rule Type="Allow" Action="ManageNamespace" Principal="all" />
    </AuthorizationRules>
    <BlacklistedExternalLinks>
      <Link>http://foobar</Link>
      <Link>http://blahblah</Link>
    </BlacklistedExternalLinks>
    <DefaultNamespace>Craig.DirectX</DefaultNamespace>
    <Namespaces />
    <EnablePerformanceCounters>false</EnablePerformanceCounters>
    <DisplaySpacesInWikiLinks>false</DisplaySpacesInWikiLinks>
    <NamespaceProviders>
      <Provider Id="5a2caaff-c139-40ad-85df-cdf136c95458" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=1.8.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="Craig.DirectX" />
          <Parameter Name="Root" Value="Namespaces\Craig.DirectX" />
        </Parameters>
      </Provider>
      <Provider Id="3e798884-4072-4a5f-98f5-bcdc2ae2a228" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Root" Value="Namespaces\Foo" />
          <Parameter Name="Namespace" Value="Foo" />
        </Parameters>
      </Provider>
      <Provider Id="77fdd7b1-81b4-45f8-8f4e-56eeb50e7270" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Root" Value="Namespaces\Bar" />
          <Parameter Name="Namespace" Value="Bar" />
        </Parameters>
      </Provider>
    </NamespaceProviders>
    <NoFollowExternalHyperlinks>false</NoFollowExternalHyperlinks>
    <Plugins />
    <WikiTalkVersion>0</WikiTalkVersion>
    <RequireTransportSecurityFor>Content</RequireTransportSecurityFor>
  </FederationConfiguration>
  <MakeAbsoluteUrls>false</MakeAbsoluteUrls>
  <NewsletterConfiguration>
    <AuthenticateAs>anonymous</AuthenticateAs>
    <Enabled>true</Enabled>
    <NewslettersFrom>newsletters@wangdera.com</NewslettersFrom>
    <RootUrl>http://localhost/flexwiki</RootUrl>
    <SendAsAttachments>false</SendAsAttachments>
  </NewsletterConfiguration>
  <RequireCaptchaOnEdit>IfAnonymous</RequireCaptchaOnEdit>
  <SignNamespaceCreationMail>false</SignNamespaceCreationMail>
</configuration>