<configuration>
  <appSettings>
    <!-- If you want to run the build verification tests, be sure to set 
          these two appropriately. Don't forget the trailing / on the 
          InstallationUri. -->
    <add key="InstallationUri" value="http://localhost/flexwiki/" />
    <add key="InstallationPath" value="..\..\..\FlexWiki.Web" />
    
    <!-- FlexWiki performance counters can cause major slowdown, and we don't 
          need them for these tests, so we disable them -->
    <add key="DisablePerformanceCounters" value="true" />
  </appSettings>
</configuration>