<?xml version="1.0" encoding="utf-8" ?> 
<!-- This is the security configuration file for FlexWiki -->
<security version="1.0">

  <!-- 
       This section contains the wiki-wide authorization settings. If authorizations settings
       are specified in _ContentBaseDefinition for a particular namespace, they *completely 
       replace* the settings found here - they do not add to or modify these settings. 
        
       Anyone who is not explicitly allowed by either these settings or an override in 
       _ContentBaseDefinition is denied access. 
        
       Either users or groups may be specified here. The special character '?' means 'any
       authenticated user' and '*' means 'any user at all, even if not authenticated'. 
    -->
  <authorization>
    <readers>
      <allow>*</allow>
    </readers>
    <editors>
      <allow>?</allow>
    </editors>
    <administrators>
      <allow>ISENGARD\Alice</allow>
      <allow>BUILTIN\Administrators</allow>
    </administrators>
  </authorization>

</security>
