<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DisableRenameFixup>false</DisableRenameFixup>
  <EditOnDoubleClick>true</EditOnDoubleClick>
  <FederationConfiguration>
    <About>About FlexWiki.</About>
    <AuthorizationRules>
      <Rule Type="Allow" Action="ManageNamespace" Principal="all" />
    </AuthorizationRules>
    <BlacklistedExternalLinks>
      <Link>http://foobar</Link>
      <Link>http://blahblah</Link>
    </BlacklistedExternalLinks>
    <DefaultNamespace>SampleNamespaceOne</DefaultNamespace>
    <Namespaces />
    <EnablePerformanceCounters>false</EnablePerformanceCounters>
    <DisplaySpacesInWikiLinks>false</DisplaySpacesInWikiLinks>
    <NamespaceProviders>
      <Provider Id="5a2caaff-c139-40ad-85df-cdf136c95458" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=1.8.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceOne" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceOne" />
        </Parameters>
      </Provider>
      <Provider Id="efa37414-d13e-487a-bf13-ab506f05bd08" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=1.8.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceTwo" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceTwo" />
        </Parameters>
      </Provider>
      <Provider Id="10f3fac7-b42b-4ee1-9f87-102f95cc6dd0" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceThree" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceThree" />
        </Parameters>
      </Provider>
      <Provider Id="0689fac2-8091-4d5a-8eb4-1d68ae4af6b2" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceFour" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceFour" />
        </Parameters>
      </Provider>
    </NamespaceProviders>
    <NoFollowExternalHyperlinks>false</NoFollowExternalHyperlinks>
    <Plugins />
    <WikiTalkVersion>0</WikiTalkVersion>
  </FederationConfiguration>
  <MakeAbsoluteUrls>false</MakeAbsoluteUrls>
  <NewsletterConfiguration>
    <AuthenticateAs>anonymous</AuthenticateAs>
    <Enabled>true</Enabled>
    <NewslettersFrom>newsletters@wangdera.com</NewslettersFrom>
    <RootUrl>http://localhost/flexwiki</RootUrl>
    <SendAsAttachments>false</SendAsAttachments>
  </NewsletterConfiguration>
  <SignNamespaceCreationMail>false</SignNamespaceCreationMail>
</configuration>