<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CaptchaKey>0123456789ABCDEF</CaptchaKey>
  <CaptchaLinkThreshold>5</CaptchaLinkThreshold>
  <DefaultNamespaceProviderForNamespaceCreation>FlexWiki.FileSystemNamespaceProvider</DefaultNamespaceProviderForNamespaceCreation>
  <DisableRenameFixup>false</DisableRenameFixup>
  <EditOnDoubleClick>true</EditOnDoubleClick>
  <FederationConfiguration>
    <About>This is FlexWiki, an open source wiki engine.</About>
    <AuthorizationRules>
      <Rule Type="Allow" Action="ManageNamespace" Principal="all" />
    </AuthorizationRules>
    <BlacklistedExternalLinks />
    <DefaultNamespace>SampleNamespaceOne</DefaultNamespace>
    <Namespaces />
    <DisplaySpacesInWikiLinks>false</DisplaySpacesInWikiLinks>
    <EnablePerformanceCounters>false</EnablePerformanceCounters>
    <NamespaceProviders>
      <Provider Id="5a2caaff-c139-40ad-85df-cdf136c95458" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceOne" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceOne" />
        </Parameters>
      </Provider>
      <Provider Id="efa37414-d13e-487a-bf13-ab506f05bd08" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceTwo" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceTwo" />
        </Parameters>
      </Provider>
      <Provider Id="928442ad-f556-47b5-87c3-368546d624ab" Type="FlexWiki.SqlProvider.SqlNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="SqlNamespace" />
          <Parameter Name="ConnectionString" Value="Data Source=tear\sqlexpress;Initial Catalog=FlexWikiSqlStore;Integrated Security=true" />
        </Parameters>
      </Provider>
    </NamespaceProviders>
    <NoFollowExternalHyperlinks>false</NoFollowExternalHyperlinks>
    <Plugins />
    <RequireTransportSecurityFor>None</RequireTransportSecurityFor>
    <WikiTalkVersion>1</WikiTalkVersion>
  </FederationConfiguration>
  <NewsletterConfiguration>
    <AuthenticateAs>anonymous</AuthenticateAs>
    <Enabled>true</Enabled>
    <NewslettersFrom>newsletters@flexwiki.com</NewslettersFrom>
    <RootUrl>http://www.flexwiki.com/</RootUrl>
    <SendAsAttachments>false</SendAsAttachments>
  </NewsletterConfiguration>

  <!-- If there are AlternateStylesheet elements, then 
        <LINK rel='alternate stylesheet' type='text/css' title='@Title' > 
        tags will be emitted into the <head> of every page, allowing the admin 
        to override CSS styles. The value in the @Href attribute becomes the 
        href attribute of the <LINK>. To provide a method of allowing the 
        OverrideStylesheet and the original stylesheet to coexist, you can add 
        the original stylesheet as an alternate. See the 'Chocolate' example 
        below. -->
  <AlternateStylesheets>
      <AlternateStylesheet Href="classic.css" Title="Classic"/>
  </AlternateStylesheets>
  <!-- If set, will emit an additional <LINK rel='stylesheet' type='text/css' >
        tag into the <head> of every page, allowing the admin to override any
        CSS styles. The value below becomes the href attribute of the <LINK>. -->
  <!-- <OverrideStylesheet>http://yourserver/path/to/wiki/example-href.css</OverrideStylesheet> -->

  <!-- If set, when a user tries to edit a page to include a URL from the URL blacklist 
        (see <BlackListedExternalLinks> above), an email about the event is sent to the 
        address listed here. -->
  <!-- <SendBanNotificationsToMailAddress>user@domain.com</SendBanNotificationsToMailAddress> -->

  <!-- When set to a non-blank value, does not actually create a namespace, but instead sends
        an email to the address listed here for further action. -->
  <!-- <SendNamespaceCreationRequestsTo>example@example.org</SendNamespaceCreationRequestsTo>-->

  <!-- An email address from which to send a notification whenever a new namespace is created.
        The email is sent to whatever address is listed for the Contact of the new namespace. 
        Leave blank to disable this feature. -->
  <!-- <SendNamespaceCreationMailFrom>example@example.org</SendNamespaceCreationMailFrom> -->

  <!-- An email address to cc on namespace creation, or empty for none. -->
  <SendNamespaceCreationMailToCC />
  <SignNamespaceCreationMail>false</SignNamespaceCreationMail>
</configuration>
