<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CaptchaKey>0123456789ABCDEF</CaptchaKey>
  <CaptchaLinkThreshold>5</CaptchaLinkThreshold>
  <DefaultNamespaceProviderForNamespaceCreation>FlexWiki.FileSystemNamespaceProvider</DefaultNamespaceProviderForNamespaceCreation>
  <DisableRenameFixup>false</DisableRenameFixup>
  <EditOnDoubleClick>true</EditOnDoubleClick>
  <FederationConfiguration>
    <About>This is FlexWiki, an open source wiki engine.</About>
    <AuthorizationRules>
      <Rule Type="Allow" Action="ManageNamespace" Principal="all" />
      <Rule Type="Allow" Action="Edit" Principal="all" />
      <Rule Type="Allow" Action="Read" Principal="all" />
    </AuthorizationRules>
    <BlacklistedExternalLinks />
    <DefaultNamespace>ContentMaster</DefaultNamespace>
    <Namespaces />
    <DisplaySpacesInWikiLinks>true</DisplaySpacesInWikiLinks>
    <EnablePerformanceCounters>false</EnablePerformanceCounters>
    <NamespaceProviders>
      <Provider Id="5a2caaff-c139-40ad-85df-cdf136c95458" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="ContentMaster" />
          <Parameter Name="Root" Value="Namespaces\ContentMaster" />
        </Parameters>
      </Provider>
      <Provider Id="efa37414-d13e-487a-bf13-ab506f05bd08" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="ContentMaster.DistributedSystems" />
          <Parameter Name="Root" Value="Namespaces\ContentMaster\DistributedSystems" />
        </Parameters>
      </Provider>
      <Provider Id="efa37414-d13e-487a-bf13-ab506f05bd08" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="ContentMaster.DistributedSystems.RichClients" />
          <Parameter Name="Root" Value="Namespaces\ContentMaster\DistributedSystems\RichClients" />
        </Parameters>
      </Provider>
      <Provider Id="3f099e46-5f60-46fc-b426-9d8c7412554f" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.62, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="Personal" />
          <Parameter Name="Root" Value="Namespaces\Personal" />
        </Parameters>
      </Provider>
    </NamespaceProviders>
    <NoFollowExternalHyperlinks>false</NoFollowExternalHyperlinks>
    <Plugins />
    <RequireTransportSecurityFor>None</RequireTransportSecurityFor>
    <WikiTalkVersion>1</WikiTalkVersion>
  </FederationConfiguration>
  <NewsletterConfiguration>
    <AuthenticateAs>anonymous</AuthenticateAs>
    <Enabled>true</Enabled>
    <NewslettersFrom>newsletters@flexwiki.com</NewslettersFrom>
    <RootUrl>http://localhost/flexwiki/</RootUrl>
    <SendAsAttachments>false</SendAsAttachments>
  </NewsletterConfiguration>
  <RequireCaptchaOnEdit>Never</RequireCaptchaOnEdit>
  <SendNamespaceCreationMailToCC />
  <SignNamespaceCreationMail>false</SignNamespaceCreationMail>
</configuration>