<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <system.web>
  
   <!--  DYNAMIC DEBUG COMPILATION
   Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
   false will improve runtime performance of this application. 
   Set compilation debug="true" to insert debugging symbols (.pdb information)
   into the compiled page. Because this creates a larger file that executes
   more slowly, you should set this value to true only when debugging and to
   false at all other times. For more information, refer to the documentation about
   debugging ASP.NET files. -->
    <compilation defaultLanguage="c#" debug="true" />

  <!-- SECURITY SETTINGS
  
    Some sample authentication setups are included below. Copy the XML that applies 
    to your situation, and paste it in below. Custom setups are also possible. 
    
    ===============
    
    ALLOW EVERYONE : This setup makes the wiki available to everyone without making
      anyone authenticate.
    
    <authentication mode="None" />
    <authorization>
      <allow users="*" /> 
    </authorization>
    
    ===============
    
    ALLOW AUTHENTICATED USERS ONLY : This setup makes the wiki only available to 
      people who have a valid NT login. 
    
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    
    ===============
    
    ALLOW ACCESS TO CERTAIN PAGES : This setup depends on the file permissions for
      the individual .wiki files and directories - if the access is allowed for 
      the NETWORK SERVICE user (IUSR_machinename under Windows XP/2000), then the 
      user will be allowed to access the page. Otherwise, only users with permission
      to access the .wiki file/directory will be allowed to access that topic. 
    
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
    
    ===============
  
  -->
    

  <!-- Paste security-related XML here. We default to allowing everyone in. 
      See comments above. -->
    
  <authentication mode="None" />
  <authorization>
    <allow users="*" /> 
  </authorization>
  
  <!-- End security-related XML. -->

    
    
    <!-- We rely on session state, so we need to make sure it's turned on -->
    <!-- 
        If you are running .NET framework 1.0, you must remove the validateRequest 
        attribute below.  validateRequest must be false for 1.1, but 1.0 will 
        choke on this, so it can't always be present
   -->
    <sessionState mode="InProc" />
    <pages buffer="true" enableSessionState="true" 
        validateRequest="false" />
    
    <!--  CUSTOM ERROR MESSAGES
      Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
      Add <error> tags for each of the errors you want to handle.

      "On" Always display custom (friendly) messages.
      "Off" Always display detailed ASP.NET error information.
      "RemoteOnly" Display custom (friendly) messages only to users not running 
      on the local Web server. This setting is recommended for security purposes, so 
      that you do not display application detail information to remote clients.-->
    <customErrors mode="RemoteOnly" />
  </system.web>
</configuration>
