<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AlternateStylesheets>
    <AlternateStylesheet Href="classic.css" Title="Classic" />
    <AlternateStylesheet Href="wiki-jwd.css" Title="Forest" />
  </AlternateStylesheets>
  <AttachmentIcons>
    <AttachmentIcon Href="page_white_picture.png" IconKey=".png" />
    <AttachmentIcon Href="page_white_picture.png" IconKey=".gif" />
    <AttachmentIcon Href="page_white_picture.png" IconKey=".jpg" />
    <AttachmentIcon Href="page_white_picture.png" IconKey=".jpeg" />
    <AttachmentIcon Href="page_white_word.png" IconKey=".doc" />
    <AttachmentIcon Href="page_excel.png" IconKey=".xls" />
    <AttachmentIcon Href="page_white_acrobat.png" IconKey=".pdf" />
    <AttachmentIcon Href="page_white_csharp.png" IconKey=".cs" />
    <AttachmentIcon Href="html.png" IconKey=".html" />
    <AttachmentIcon Href="html.png" IconKey=".htm" />
    <AttachmentIcon Href="html.png" IconKey=".aspx" />
    <AttachmentIcon Href="page_white_database.png" IconKey=".mdb" />
    <AttachmentIcon Href="page_white_database.png" IconKey=".sql" />
    <AttachmentIcon Href="page_white_compressed.png" IconKey=".zip" />
    <AttachmentIcon Href="page_white_text.png" IconKey=".txt" />
    <AttachmentIcon Href="film.png" IconKey=".avi" />
    <AttachmentIcon Href="film.png" IconKey=".mpg" />
    <AttachmentIcon Href="film.png" IconKey=".mpeg" />
    <AttachmentIcon Href="film.png" IconKey=".divx" />
    <AttachmentIcon Href="film.png" IconKey=".wma" />
  </AttachmentIcons>
  <CaptchaKey>33456ACD45098126</CaptchaKey>
  <CaptchaLinkThreshold>5</CaptchaLinkThreshold>
  <ContentUploadPath>content\upload</ContentUploadPath>
  <DefaultNamespaceProviderForNamespaceCreation>FlexWiki.FileSystemNamespaceProvider</DefaultNamespaceProviderForNamespaceCreation>
  <DisableEditServiceWrite>false</DisableEditServiceWrite>
  <DisableFavicon>false</DisableFavicon>
  <DisableRenameFixup>false</DisableRenameFixup>
  <DisableWikiEmoticons>false</DisableWikiEmoticons>
  <DisableXslTransform>false</DisableXslTransform>
  <DisableThreadedMessaging>false</DisableThreadedMessaging>
  <EnableBordersAllPages>true</EnableBordersAllPages>
  <EnableNewParser>false</EnableNewParser>
  <RemoveListItemWhitespace>false</RemoveListItemWhitespace>
  <ThreadedMessagingEditPermissions>role:WikiManagers</ThreadedMessagingEditPermissions>
  <EditOnDoubleClick>true</EditOnDoubleClick>
  <FederationConfiguration>
    <About>This is FlexWiki, an open source wiki engine.</About>
    <AuthorizationRules>
      <Rule Type="Allow" Action="Edit" Principal="all" />
      <Rule Type="Allow" Action="ManageNamespace" Principal="role:WikiManagers" />
    </AuthorizationRules>
    <BlacklistedExternalLinks />
    <DefaultNamespace>SampleNamespaceTwo</DefaultNamespace>
    <Namespaces />
    <DisplaySpacesInWikiLinks>false</DisplaySpacesInWikiLinks>
    <EnablePerformanceCounters>false</EnablePerformanceCounters>
    <LocalDateFormat>yyyy-MM-dd</LocalDateFormat>
    <LocalTimeFormat>HH:mm</LocalTimeFormat>
    <NamespaceProviders>
      <Provider Id="5a2caaff-c139-40ad-85df-cdf136c95458" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceOne" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceOne" />
        </Parameters>
      </Provider>
      <Provider Id="efa37414-d13e-487a-bf13-ab506f05bd08" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki">
        <Parameters>
          <Parameter Name="Namespace" Value="SampleNamespaceTwo" />
          <Parameter Name="Root" Value="Namespaces\SampleNamespaceTwo" />
        </Parameters>
      </Provider>
      <Provider Id="d1cd69bf-e326-46c8-85a9-10651b42152a" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="OdsWiki" />
          <Parameter Name="Root" Value="Namespaces\OdsWiki" />
        </Parameters>
      </Provider>
      <Provider Id="7d4b6bb6-a858-4f47-9684-bf795cc02594" Type="FlexWiki.SqlProvider.SqlNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="TestSql" />
          <Parameter Name="ConnectionString" Value="Data Source=.\SQL2005;Initial Catalog=FlexWikiSqlStore;Integrated Security=SSPI;" />
        </Parameters>
      </Provider>
      <Provider Id="e7aecc18-9b22-465f-bd89-7efbd8dd425a" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="DiscussSampleNamespaceTwo" />
          <Parameter Name="Root" Value="Namespaces\DiscussSampleNamespaceTwo" />
        </Parameters>
      </Provider>
      <Provider Id="c4277bf3-4ab0-4bed-9a63-44d1cb1705ee" Type="FlexWiki.FileSystemNamespaceProvider" AssemblyName="FlexWiki, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">
        <Parameters>
          <Parameter Name="Namespace" Value="WikiTalkLibrary" />
          <Parameter Name="Root" Value="Namespaces\WikiTalkLibrary" />
        </Parameters>
      </Provider>
    </NamespaceProviders>
    <NoFollowExternalHyperlinks>false</NoFollowExternalHyperlinks>
    <Plugins>
      <Plugin>GoogleAd</Plugin>
      <Plugin>PageHitCounter</Plugin>
      <Plugin>FleXhtml</Plugin>
    </Plugins>
    <RequireTransportSecurityFor>None</RequireTransportSecurityFor>
    <WikiTalkVersion>1</WikiTalkVersion>
  </FederationConfiguration>
  <NewsletterConfiguration>
    <AuthenticateAs>anonymous</AuthenticateAs>
    <Enabled>false</Enabled>
    <NewslettersFrom>newsletters@flexwiki.com</NewslettersFrom>
    <RootUrl>http://www.flexwiki.com/</RootUrl>
    <SendAsAttachments>false</SendAsAttachments>
  </NewsletterConfiguration>
  <OverrideBordersScope>Namespace</OverrideBordersScope>
  <RequireCaptchaOnEdit>Always</RequireCaptchaOnEdit>
  <SendNamespaceCreationMailToCC />
  <SignNamespaceCreationMail>false</SignNamespaceCreationMail>
  <ForegroundColorCAPTCHA>LightGray</ForegroundColorCAPTCHA>
  <BackgroundColorCAPTCHA>Black</BackgroundColorCAPTCHA>
  <HatchStyleCAPTCHA>Percent30</HatchStyleCAPTCHA>
  <ObscuringLinesCAPTCHA>3</ObscuringLinesCAPTCHA>
  <WarpModeCAPTCHA>Perspective</WarpModeCAPTCHA>
</configuration>